/* html {
  font-size: 62.5%;
}

default is helvetica */

body {
  /* background: #AFFF; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: block;
}